html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 1.75em;
  color: #132C33;

  font-family: $font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;

  @include themify() {
    background: themed("background");
    background: linear-gradient(315deg, themed("background-accent") 2%, themed("background") 50%);
    background: -moz-linear-gradient(315deg, themed("background-accent") 2%, themed("background") 50%);
    background: -webkit-linear-gradient(315deg, themed("background-accent") 2%, themed("background") 50%);
    color: themed("text-color");
    background-attachment: fixed;
  }


  // Fix background with devices with notches (only on portrait)
  @include for-mobile-portrait-down {
    @include themify() {
      @supports(padding:max(0px)) {
        background: themed("background");
      }
    }
  }

  // End fix background Notches
}

a {
  text-decoration: none;

  @include themify() {
    color: themed("color-secondary");
  }

  &:hover {
    text-decoration: underline;

    @include themify() {
      color: themed("color-accent");
    }
  }
}

.content-header {
  text-align: center;
  margin: 1em 1em;
}

header {
  min-height: 18em;
}

footer {
  margin-top: 3.75em;
  margin-bottom: 5.30em;
  text-align: center;
}

.container {
  margin: auto;
  max-width: 550px;
  text-align: center;

  p {
    padding: 0.1em 0.5em;
  }

  ul {
    text-align: left;
  }

  table {
    margin: 1rem 0;
    text-align: left;
    width: 100%;
    border-collapse: collapse;

    >th,
    td {
      line-height: 1.75rem;
      padding: 2px;
      border: 0px;
    }

    tr:nth-of-type(odd) {
      @include themify() {
        background: themed("background-accent");
        color: themed("text-color");
      }

      a:hover {
        @include themify() {
          color: themed("color-primary");
        }
      }
    }
  }
}