// Taken from https://blog.setale.me source code
.button {
  display: inline-block;
  padding: calc($global-margin / 2);
  padding-left: $global-margin;

  width: 100%;
  max-width: calc(($max_aside_width - $global-border-radius) - ($global-border-radius / 2));
  margin-bottom: calc($global-h1-margin / 4);
  border-radius: $global-border-radius;
  text-align: left;

  text-decoration: none;
  background: transparent;
  transition: all 0.25s ease-in-out;

  @include themify() {
    border: 1px solid themed("color-accent") !important;
  }

  &:hover,
  &.selected {
    text-decoration: none;

    @include themify() {
      background: themed("color-accent") !important;
      border-color: themed("color-accent") !important;
      color: themed("background") !important;
    }
  }

  &:first {
    padding-top: calc($global-margin / 2) !important;
  }

  &.slim {
    max-width: none;
    width: auto;
    padding: calc($global-margin / 2) $global-margin;

    @include mobile-portrait {
      width: 100%;
      max-width: $max_aside_width;
    }

    &.always {
      width: auto;
      max-width: none;
    }
  }
}