header {
  padding-top: 1.78em;
  margin: 0 auto;
  text-align: center;

  img {
    border-radius: $global-border-radius;
    max-width: 7em;
    max-height: 7em;
    min-height: 3em;
    min-width: 3em;
  }

  img.bigger-image {
    max-width: 14em;
    max-height: 14em;
    min-height: 7em;
    min-width: 7em;
  }

  .lead {
    padding-left: 0.25em;
    padding-right: 0.25em;
  }

  h1 {
    font-size: 2em;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  ul {
    padding: 0px;
    margin: 5px;
  }

  ul li {
    display: inline;
    padding: 5px 10px;
    font-size: 1.2em;
  }

  ul li:first-child {
    border-left: 0px;
    padding-left: 0px;
  }

  p {
    font-size: 1.14em;
    font-weight: normal;
    line-height: 1.2em
  }

}