$font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
$base-font-size: 16px;
$base-line-height: 1.25em;

$themes: (
  light: (background: #D8E3E7,
    background-accent: #51C4D3,
    text-color: #132C33,
    color-primary: #126E82,
    color-secondary: rgba(#126E82, .80),
    color-accent: #2997A5,
  ),
  dark: (background: #132C33,
    background-accent: #126E82,
    text-color: #D8E3E7,
    color-primary: #51C4D3,
    color-secondary: rgba(#51C4D3, .80),
    color-accent: #1998B5,
  ),
);

$theme-map: null;

@mixin themify() {
  @each $theme, $map in $themes {
    @media (prefers-color-scheme: #{$theme}) {
      $theme-map: (
        ) !global;

      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}'
        );
      $theme-map: map-merge($theme-map, ($key: $value)) !global;
    }

    @content;
    $theme-map: null !global;
  }
}
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

$base-font-size: 16px;
// this define the margin of headers and h1 first elements
$global-h1-margin: $base-font-size*1.2;
$global-header-top-distance: $global-h1-margin*2;

$global-border-radius: 25px;
$global-margin: $global-border-radius;
$global-body-width: 900px;
$global-content-width: $global-body-width - $global-margin;
// import custom stuff;
$screen-break-small: 600px;
$max_aside_width: 256 - $global-margin;

@import "responsive.scss";
@import "header.scss";
@import "basic.scss";
@import "buttons.scss";