header {
	padding-top: 60px;
	margin: 0 auto;
	text-align: center;

	img {
		border-radius: 25px;
		max-width: 180px;
		max-height: 180px;
		min-height: 100px;
		min-width: 100px;
	}

	h1 {
		font-size: 27px;
	}

	ul {
		padding: 0px;
		margin: 5px;
	}

	ul li {
		display: inline;
		padding: 5px 10px;
		font-size: 18px;
	}

	ul li:first-child {
		border-left: 0px;
		padding-left: 0px;
	}
}
